
  /* default New Tab favicon */
.tab-icon-image[src="chrome://branding/content/icon32.png"] {
    content: url(icons/newtab-logo.svg) !important;
}

/* "Email  Link" as spacer */
/*#email-link-button {
	opacity: 0 !important;
}*/

/* ##### Navbar ##### icons */

/* Back button */
#nav-bar #back-button .toolbarbutton-icon {

	list-style-image: url(icons/go-previous.svg) !important;
}
/* Forward button */
#nav-bar #forward-button .toolbarbutton-icon {

	list-style-image: url(icons/go-next.svg) !important;
}
/* Refresh button */
#reload-button .toolbarbutton-icon {

	list-style-image: url(icons/reload.svg) !important;
}

:-moz-any(#reload-button, #stop-button, #downloads-indicator-icon, #tracking-protection-icon-box):not([displaystop]) > .toolbarbutton-animatable-box > .toolbarbutton-animatable-image {
	animation-timing-function: steps(0) !important;
	animation-duration: 0ms !important;
}

/* Stop button */
#stop-button .toolbarbutton-icon  {
	list-style-image: url(icons/window-close-x.svg) !important;
}

/* Menu button */
#PanelUI-menu-button .toolbarbutton-icon {
	list-style-image: url(icons/application-menu.svg) !important;
}

/* Extensions button */
#unified-extensions-button {
	list-style-image: url(icons/extensions.svg) !important;
}

/* New tab button */
#tabs-newtab-button,#tabbrowser-tabs .tabs-newtab-button,#new-tab-button .toolbarbutton-icon {
	list-style-image: url(icons/new-tab.svg) !important;
}

/* Home button */
#home-button .toolbarbutton-icon {
	list-style-image: url(icons/user-home.svg) !important;
}
/* Preferences button */
#preferences-button .toolbarbutton-icon {
	list-style-image: url(icons/preferences-system.svg) !important;
}

/* History button */
#history-panelmenu .toolbarbutton-icon {
	list-style-image: url(icons/history.svg) !important;
}

/* Bookmarks button */
#bookmarks-menu-button,
/*#appMenu-library-bookmarks-button,*/
#panelMenu_toggleBookmarksMenu .toolbarbutton-icon {
	list-style-image: url(icons/bookmark.svg) !important;
}

/* Library button */
#library-button .toolbarbutton-icon {
	list-style-image: url(icons/favorites.svg) !important;
}

/* Firefox View button */
#firefox-view-button .toolbarbutton-icon {
	list-style-image: url(icons/view.svg) !important;
}

/* Navbar overflow button */
/*#toolbarbutton #nav-bar-overflow-button {
	skipintoolbarset: false !important;
	keepbroadcastattributeswhencustomizing: true !important;
	removable: true !important;
}*/
/*#nav-bar-overflow-button .toolbarbutton-icon {
	margin-right: 6px !important;

	list-style-image: url(icons/apps2.svg) !important;
}*/

/* Downloads button */
#downloads-button .toolbarbutton-icon {
	list-style-image: url(icons/downloads.svg) !important;
	/*margin-top: 1px !important;*/
}

#downloads-indicator-icon {
	width: 17px !important;
	height: 17px !important;
	list-style-image: url(icons/downloads.svg) !important;
	/*margin-top: 1px !important;*/
}

/* #tracking-protection-icon-container, #tracking-protection-icon-box:not([hasException])[active] {
	fill: #8500ff !important;
	animation: none !important;
} */

/* ########### Extenions menu ########### */
#unified-extensions-view {
  --uei-icon-size: 22px !important;
}

/* ##### Context Menu icons ##### */

/* Context back button */
#context-back .menu-iconic-icon {
	list-style-image: url(icons/go-previous.svg) !important;
	height: 32px !important;
	width: 32px !important;
}
/* Context forward button */
#context-forward .menu-iconic-icon {
	list-style-image: url(icons/go-next.svg) !important;
	height: 32px !important;
	width: 32px !important;
}

/* context menu refresh button */
#context-reload .menu-iconic-icon {
	list-style-image: url(icons/reload.svg) !important;
	height: 32px !important;
	width: 32px !important;
}

/* context menu bookmark button */
#context-bookmarkpage .menu-iconic-icon {
	list-style-image: url(icons/bookmark.svg) !important;
	height: 32px !important;
	width: 32px !important;
}

