
/* New Tab page background, white flash avoidance */
#tabbrowser-tabpanels, #tabbrowser-tabpanels[pendingpaint] {
  background-color: #1a1a1a !important;
}

/* ##### Tab mechanics ##### */

/* Tabs positioned under the navigator container */
/*#titlebar {
	order: 3 !important;
}*/

#TabsToolbar {
order: 3 !important;
}

/* Tabs max-width across the browser window */
.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 50vw !important;
}

/* Active tab min width */ /* 14vw */ /* 252px */
.tabbrowser-tab[selected]:not([pinned], [movingtab]) {
    min-width: 232px !important;
}

/* Widen on hover, only when overflowed */ /* 8vw */
#tabbrowser-tabs[overflow] .tabbrowser-tab:not([selected], [movingtab], [pinned]):hover {
    min-width: 144px !important;
}

/* Container tabs line size and position */
.tab-context-line {
    order: 2 !important;
    width: 20px !important;
    height: 2px !important;
    margin-inline: 7px !important;
    margin-bottom: 3px !important;
}

.tab-content {
    padding: 0 9px !important;
}

/* Remove extra space on tab bar edges */
.titlebar-spacer {
    display: none !important;
}

#tabbrowser-tabs {
  border-inline-start: none !important;
}

#TabsToolbar-customization-target:not([overflow]) {
  margin-inline-end: -1px !important;
}

/* ##### Hover tab and favicon changes to close button - on left ##### */

/* Favicons always visible (also on hover) */
.tab-icon-image:not([pinned]) {
    opacity: 1 !important;
}

.tab-icon-stack {
	margin-inline-start: 1px !important;
    margin-inline-end: 8px !important;
}

.tabbrowser-tab {
    --tab-icon-end-margin: 0 !important;
}

/* Now Playing icon for tabs playing media */

/* keep the site favicon in its usual position instead of being displaced by the speaker icon */
/*.tab-icon-stack:is([soundplaying], [muted], [activemedia-blocked]) > .tab-icon-image {
	position: relative;
}*/

/* Hide the PLAYING, MUTED, etc. labels on audio tabs, and the default media button */
.tab-secondary-label:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]) {
    display: none !important;
}

.tab-audio-button {
  background-image: url(icons/audio.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 12px 12px !important;

  --button-size-icon-small: 16px !important;
  --button-min-height-small: var(--button-size-icon-small) !important;
  --button-background-color-ghost: transparent !important;
  --button-border-radius: var(--border-radius-circle) !important;
  color: transparent !important;
  position: absolute;
  top: 9px;
  margin-inline-start: 10px !important;
  margin-inline-end: 4px !important;
}

/* make the speaker icon always appear if the tab is playing (not only on hover) */
.tab-icon-overlay:not([crashed]):is([soundplaying], [muted], [activemedia-blocked], [sharing]) {
	visibility: visible !important;
    color: currentColor !important;
    fill: #dddddd !important;
    stroke: transparent !important;
    background: transparent !important;
    border: none !important;
    fill-opacity: 0.9 !important;
    opacity: 1 !important;
    list-style-image: url(icons/audio.svg) !important;
    transition: 0.1s var(--animation-easing-function);
    z-index: 1 !important;
}

/* Position */
/*z-index: 1 !important; */

/* Shape
 p adding: 1.5px *!important;
 width: 22px !important;
 height: 22px !important; */

/* Animation */


/* reposition the tab label and speaker icon */
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
	left: 6px !important;
	bottom: 5px !important;
    padding-right: 0 !important;
}

/* ##### Replace favicon with close button on selected tab on hover ##### */

/* First, hide the close button when not selected */
.tabbrowser-tab .tab-close-button {
    visibility: collapse;
    display: none !important;
    width: 24px !important;
    height: 24px !important;
    margin-inline-start: -3px !important;
    margin-inline-end: 4px !important;
}

/* Then, show tab close button in place of favicon when cursor is over the selected tab */
/* first was previously .tabbrowser-tab[selected]:not([pinned]):hover .tab-icon-image */
.tabbrowser-tab[selected]:not([pinned]):hover .tab-icon-stack, .tabbrowser-tab[selected]:not([pinned]):hover .tab-icon-overlay, .tabbrowser-tab[selected]:not([pinned]):hover .tab-throbber, .tabbrowser-tab[selected]:not([pinned]):hover .tab-audio-button {
    visibility: collapse !important;
    display: none;
}

.tabbrowser-tab[selected]:not([pinned]):hover .tab-close-button {
    display: grid !important;
    position: absolute !important;
    visibility: visible;
    order: -1 !important;
    /*align-items: center;*/
    z-index: 1;
    /*margin-inline: -3px 0 -3px 0 !important;*/
    /*margin-inline-end: 25px !important;*/

}

/* positioning correction when media playing */
@media (-moz-proton) {
  .tab-close-button {
    /*margin-inline: 0px -3px 0px -3px !important;*/
    padding-inline-start: 7px !important;
  }
}

/* Highlight on hover, combines with border-radius: 9999px  */
.tabbrowser-tab .tab-close-button:hover {
  border-radius: 9999px !important;
  background-color: rgba(170, 170, 172, 0.3) !important;
}

/* If no favicon - No icon - show close-button when cursor is over the tab */
.tab-icon-stack:hover ~ .tab-close-button,
.tab-close-button:hover,
.tabbrowser-tab:not([image]):hover .tab-close-button{ visibility: visible; z-index: 1;  }
.tabbrowser-tab:not([image]):hover .tab-close-button{ margin-inline-end: 0 !important; }

/* ##### Center the the text of the tab label ##### */
.tab-label-container {
  display: grid !important;
  align-content: center !important;
}

/*  HACK fix for Firefox 136+ */ /* Comment out for Firefox 135 & below */
.tabbrowser-tab[selected]:not([pinned]):hover .tab-label-container {
  margin-inline-start: 25px !important;
}

.tab-secondary-label {
  justify-content: center !important;
}

.tab-label,.tab-secondary-label {
  overflow: hidden;
}

.tab-label-container {
  padding-top: 0 !important;
  margin-top: -1px !important;
}

/* Remove right and left side tab overflow border line */
#scrollbutton-up ~ spacer {
  border-color: transparent !important;
}

/*
#tabbrowser-tabs:not([movingtab]){ --uc-scroll-visibility: hidden }
#tabbrowser-tabs[overflow]{ --uc-scrollbox-margin: -31px }
#scrollbutton-up{ position: relative;z-index: 1 }
#scrollbutton-up,
#scrollbutton-down,
#scrollbutton-up ~ spacer{
  visibility: var(--uc-scroll-visibility,visible);
  fill: #1a1a1a !important;
}
.scrollbox-clip{ margin-inline: var(--uc-scrollbox-margin,0px); }*/

/* ########## !!!!!!!! Hides the tab bar with only one tab !!!!!!!! ############# */
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_with_one_tab.css made available under Mozilla Public License v. 2.0
 See the above repository for updates as well as full license text. */

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs. Likely interferes with vertical tabs. If you prefer vertical tabs, delete or comment out the section below */

:root[sizemode="normal"] #nav-bar {
  --uc-window-drag-space-width: 20px;
  }

#TabsToolbar {
  min-height: 0px !important;
  }

#tabbrowser-tabs, #tabbrowser-arrowscrollbox {
  min-height: 0 !important;
  }

.accessibility-indicator,
.private-browsing-indicator {
  height: unset !important;
  }

.accessibility-indicator > hbox {
  padding-block: 0 !important;
  }

.tabbrowser-tab {
  /*height: 44px;*/
  height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin, 0px));
  }

.tabbrowser-tab:only-of-type,
.tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse !important;
  min-height: 0 !important;
  height: 0;
  /* Animation */
  transition: height 0.1s ease-out, visibility 0.1s ease-out !important;
  }
