
/* scrollbar colors format: slider trough; */
* {
    /*scrollbar-width: thin !important; */
	scrollbar-color: #aaaaac48 #1a1a1af2 !important;
}

/* no white flash */
@-moz-document url("about:newtab"), url("about:home") {
	body {
		background: #1a1a1a !important;
	}

/* top sites/homepage theme */
	:root {
		--primary-color: #BBBBBB;
		--border-color: #aaaaac;
		--bg: #1a1a1a;
		--bg-op: #1a1a1a;
		--card-op: rgba(170, 170, 172, 0.3);
}

	.outer-wrapper {
		--newtab-background-color-secondary: #aaaaac48;
		--newtab-background-color: #1a1a1a;
		--newtab-text-primary-color: #BBBBBB;
		--newtab-primary-action-background: #1a1a1a;
		--newtab-primary-action-background-pocket: #6444ff;
		--newtab-text-secondary-color: #BBBBBB;
		--newtab-element-hover-color:  #6444ff;
		--newtab-element-secondary-color: #6444ff;
		--newtab-element-secondary-hover-color: #aaaaac30;
		--newtab-element-secondary-active-color: #aaaaac30;
		--newtab-border-color: transparent;
		--newtab-button-secondary-color: #1a1a1a;
		--newtab-primary-element-text-color: #aaaaac;
  }

    .top-site-inner .tile {
		background: rgba(170, 170, 172, 0.2) !important;
	}

	.top-site-outer .title span {
		color: #BBBBBB !important;
		/*font-size: 12pt !important;
		font-weight: bold !important;*/
		text-shadow: 0px 1px 2px rgba(0, 0, 0, .5) !important;
	}

	.top-site-outer .tile {
		background-color: var(--card-op) !important;
		/*backdrop-filter: blur(10px) !important;*/
	}

	.top-sites .top-site-outer .top-site-inner > a:is(.active, :focus) .tile {
		box-shadow: none !important;
	}

	.top-site-outer .top-site-icon {
      background-color: transparent !important;
    }

	.top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
		background: #aaaaac30 !important; /*transparent*/
	}

	.top-site-outer .context-menu-button {
		fill: var(--primary-color) !important;
	}

	.context-menu-item {
		padding: 4px 8px !important;
	}

	.context-menu-item button {
		border-radius: 3px !important;
	}

	.top-site-outer .context-menu {
		background-color: #151515f2 !important;
		border: none !important;
		outline: none !important;
		--arrowpanel-padding: 8px !important;
		--panel-padding: 8px !important;
		--panel-shadow-margin: 18px !important;
		box-shadow:

		0 0 2px 2px rgba(255, 200, 0, 0.36), 0 0 3px 4px rgba(170, 255, 0, 0.12), 0 0 3px 6px rgba(170, 255, 0, 0.07),

		0 0 15px 3px rgba(0, 255, 21, 0.27), 0 0 9px 2px rgba(0, 255, 21, 0.56),

		0 8px 6px 3px rgba(0, 255, 21, 0.06), 0 -8px 6px 3px rgba(0, 255, 21, 0.06), 8px 0 6px 3px rgba(0, 255, 21, 0.06), -8px 0 6px 3px rgba(0, 255, 21, 0.06)

		!important;
	}

	/**** !!!!! Purple menu glow for Top Site cards context menu !!!!! ****/
	/**** To activate, comment out the above .top-site-outer .context-menu{} section and uncomment the .top-site-outer .context-menu{} section below ****/

	/*.top-site-outer .context-menu {
		background-color: #151515f2 !important;
		border: none !important;
		outline: none !important;
		--arrowpanel-padding: 8px !important;
		--panel-padding: 8px !important;
		--panel-shadow-margin: 18px !important;
		box-shadow:

		0 0 2px 2px rgba(133, 0, 255, 0.36), 0 0 3px 4px rgba(116, 68, 255, 0.12), 0 0 3px 6px rgba(116, 68, 255, 0.07),

		0 0 15px 3px rgba(101, 68, 255, 0.27), 0 0 9px 2px rgba(116, 68, 255, 0.56),

		0 8px 6px 3px rgba(101, 68, 255, 0.06), 0 -8px 6px 3px rgba(101, 68, 255, 0.06), 8px 0 6px 3px rgba(101, 68, 255, 0.06), -8px 0 6px 3px rgba(101, 68, 255, 0.06)

		!important;
	}*/

	.top-sites-list:not(.dnd-active) .top-site-outer:is(:hover) .title span {
		/*opacity: .7 !important;*/
        color: #dddddd !important;
	}

	.ds-card-topic {
		background: #1a1a1ada !important;
	}

    .personalize-button {
      fill: #BBBBBB !important;
    }

	.personalize-button:hover {
		background-color: #aaaaac30 !important;
	}
