
/* CSD Window controls */

/* These values are tuned for Windows users. Linux users, especially GNOME users, may want to adjust these values (your GTK theme provides these buttons) */

/* Without modification, the window controls appear in the tab bar, which is unfortunate when the tab bar is below the toolbar. This file positions the window controls in the top right, shortens the toolbar to account for the space they take, and orders the window control buttons as expected. It also shapes the hamburger menu if you decide to show it (to do so comment out the hide-hamburger-menu.css line in userChrome.css) */

#navigator-toolbox:not([inFullscreen]) #TabsToolbar .titlebar-buttonbox-container {
    visibility: visible !important;
    display: flex !important;
    position: absolute !important;
    top: 9px; /* For Xeno-gtk, I recommend 9px */
    right: 0px; /* GNOME users with a different theme may want to adjust this */
}

/* shortens the toolbar to accommodate the absolute positioning of the csd window controls */
#nav-bar {
    padding-right: 111px !important; /* For Xeno-gtk, I recommend 111px */
}

/* add space above toolbar */
#navigator-toolbox {
    padding-top: 2px !important;
}

/* remove extra window controls in menubar */
#titlebar #toolbar-menubar .titlebar-buttonbox-container {
    display: none !important;
}

/* window control button order */
.titlebar-min {
    order: 0 !important;
}

.titlebar-max, .titlebar-restore {
    order: 1 !important;
}

.titlebar-close {
    order: 2 !important;
}
